h1 {
  text-align: center;
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 5rem;
  text-align: center;
  justify-content: center;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: lightgreen;
}

.resetgame {
  text-align: center;
}